{% extends "base.html" %}
{% block title %}Canviar contrasenya{% endblock %}
{% block content %}
<div class="card shadow-sm p-4">

    {% if form %}
        <h2 class="mb-3">Canviar contrasenya</h2>
        <p>Introdueix la teva contrasenya actual i la nova.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary w-100 mt-3" type="submit">Actualitzar</button>
        </form>

        <a href="{% url 'users:profile' %}" class="btn btn-link mt-3">Tornar</a>

    {% else %}
        <h2 class="mb-3">Contrasenya actualitzada</h2>
        <p>La teva contrasenya s'ha canviat correctament.</p>

        <a href="{% url 'users:profile' %}" class="btn btn-success w-100 mt-3">Tornar al perfil</a>
    {% endif %}

</div>
{% endblock %}
