{% extends "base.html" %}
{% block title %}El meu perfil{% endblock %}
{% block content %}

<div class="profile">
    <div class="profile-left">
        <h2>Hola, {{ user.display_name|default:user.username }}!</h2>
        <p><strong>Bio:</strong> {{ user.bio|default:"(encara no tens bio)" }}</p>
    </div>

    <div class="profile-right">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" class="avatar">
        {% endif %}
    </div>
</div>

<div class="profile-actions">
    <a href="{% url 'users:edit_profile' %}" class="btn btn-primary">Editar perfil</a>
</div>

<a href="{% url 'users:password_change' %}" class="btn btn-warning mt-3">Canviar contrasenya</a>

{% endblock %}
