{% extends "base.html" %}
{% block content %}

<h1>StreamEvents</h1>
<p>Benvingut a la plataforma!</p>

{% if user.is_authenticated %}
    <div class="mb-3">
        <a href="{% url 'events:event_list' %}" class="btn btn-outline-primary">
            Veure tots els esdeveniments
        </a>
        <a href="{% url 'events:my_events' %}" class="btn btn-outline-secondary">
            Els meus esdeveniments
        </a>
        <a href="{% url 'events:event_create' %}" class="btn btn-primary">
            Crear un nou esdeveniment
        </a>
    </div>

    <a href="{% url 'users:profile' %}" class="btn btn-light">Veure el meu perfil</a>
    <a href="{% url 'users:logout' %}" class="btn">Tancar sessió</a>
{% else %}
    <a href="{% url 'users:login' %}" class="btn btn-primary">Iniciar sessió</a>
    <a href="{% url 'users:register' %}" class="btn">Registrar-se</a>
{% endif %}

{% endblock %}
